@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../fonts/fonts.css");
@import '../css/lib/bootstrap-grid.min.css';
html {
  font-size: 10px;
}

@media (max-width: 1550px) {
  html {
    font-size: 7px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-r {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes pulse {
  0%, 100% {
    fill-opacity: 1;
  }
  50% {
    fill-opacity: 0.5;
  }
}
@keyframes launch {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
}
@keyframes shake1 {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(2px);
  }
}
@keyframes small-big {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.section {
  position: relative;
  padding: 12rem 0;
  z-index: 1;
}
@media (max-width: 991px) {
  .section {
    padding: 8rem 0;
  }
}
.section .container {
  position: relative;
  z-index: 10;
}
.section1 {
  padding: 6rem 0 12rem;
}
@media (max-width: 991px) {
  .section1 {
    padding: 4rem 0 8rem;
  }
}
.section2 {
  padding: 12rem 0 6rem;
}
@media (max-width: 991px) {
  .section2 {
    padding: 8rem 0 4rem;
  }
}
.section3 {
  padding: 6rem 0;
}
@media (max-width: 991px) {
  .section3 {
    padding: 4rem 0;
  }
}
.section4 {
  padding: 6rem 0 0;
}
@media (max-width: 991px) {
  .section4 {
    padding: 4rem 0 0;
  }
}

body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}
html.is-active {
  overflow: hidden;
}

body {
  font-size: 2rem;
  line-height: 3rem;
  background-color: #fff;
  color: #F1884D;
}
body.is-active {
  position: relative;
}
body.is-active::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 5;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.title .h {
  font-family: "Changa", system-ui;
  font-size: 8rem;
  font-weight: 600;
  line-height: 8.4rem;
}

.d-flex {
  display: flex;
}

.full-link {
  left: 0;
  position: absolute;
  height: 100%;
  top: 0col;
  width: 100%;
}

.text-center {
  text-align: center;
}

@media (min-width: 992px) {
  .text-lg-end {
    text-align: right;
  }
  .text-lg-start {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-1 {
    order: 1;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1380px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1560px;
  }
}
@media (max-width: 991px) {
  .title .h {
    font-size: 6rem;
    line-height: 1.1;
  }
}
.header {
  left: 0;
  padding: 3rem 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.15s;
  z-index: 9;
}
.header-row > a {
  height: 40px;
}
.header-row > a img {
  max-width: 30rem;
}
.header.fixed {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  top: 0;
}
.header ul {
  display: flex;
}
.header ul li {
  list-style: none;
}
.header ul li + li {
  margin-left: 5rem;
}
.header ul li .nav-link {
  color: #401B00;
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.header ul li .nav-link:hover {
  color: #F1884D;
}
.header ul li .btn {
  background-color: rgba(241, 136, 77, 0.4);
  -webkit-clip-path: polygon(85% 0%, 100% 30%, 100% 100%, 13% 100%, 0% 74%, 0 0);
          clip-path: polygon(85% 0%, 100% 30%, 100% 100%, 13% 100%, 0% 74%, 0 0);
  color: #401B00;
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
.header ul li .btn::after {
  position: absolute;
  content: "";
  -webkit-clip-path: polygon(85% 0%, 100% 30%, 100% 100%, 13% 100%, 0% 74%, 0 0);
          clip-path: polygon(85% 0%, 100% 30%, 100% 100%, 13% 100%, 0% 74%, 0 0);
}
.header ul li .btn img {
  margin-left: 0.5rem;
  transition: ease-in 0.2s;
}
.header ul li .btn:hover img {
  transform: rotate(45deg);
}
.header ul li a.active::before {
  opacity: 1;
}
.header ul li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #fff;
  box-shadow: 0px 14px 50px 0px rgba(0, 0, 0, 0.0509803922);
  transition: all 0.5s ease;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
}
.header ul li .sub-menu .h {
  color: #401B00;
  font-family: "Changa", system-ui;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.4rem;
  margin-bottom: 2rem;
}
.header ul li .sub-menu ul {
  display: block;
  padding: 0;
  margin: 0;
}
.header ul li .sub-menu ul li {
  list-style: none;
}
.header ul li .sub-menu ul li a {
  color: #401B00;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 0.5rem 0;
  text-decoration: none;
}
.header ul li .sub-menu ul li a:hover {
  color: #F1884D;
  text-decoration: underline;
}
.header ul li .sub-menu ul li + li {
  margin-left: 0;
  margin-top: 1rem;
}
.header ul li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}
.header ul li .sub-menu.mega-menu-column-4 {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 0 9rem;
  width: 100%;
}

.menu-icon {
  display: none;
}
.menu-icon label {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}
.menu-icon label span {
  background-color: #401B00;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.menu-icon label span:nth-of-type(1) {
  width: 50%;
}
.menu-icon label span:nth-of-type(2) {
  width: 100%;
}
.menu-icon label span:nth-of-type(3) {
  width: 75%;
}
.menu-icon input[type=checkbox] {
  display: none;
}
.menu-icon input[type=checkbox]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}
.menu-icon input[type=checkbox]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}
.menu-icon input[type=checkbox]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}

@media (min-width: 992px) {
  .header ul li.menu-item-has-children:hover .sub-menu {
    margin-top: 20px;
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 1600px) {
  .header .container {
    width: 1299px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .header-row > a img {
    max-width: 12rem;
  }
}
@media (max-width: 991px) {
  .header {
    position: fixed;
    top: 0;
    padding: 3.5rem 0;
    left: 0;
  }
  .header-row {
    border-radius: 0;
    padding: 0;
    position: relative;
  }
  .header-row > a img {
    max-width: 23rem;
  }
  .header-row .text-end .btn2 {
    margin-right: 8rem;
  }
  .header ul {
    background-color: #fff;
    bottom: 0;
    display: block;
    margin: 0;
    position: fixed;
    padding: 7.5rem 5rem 15rem;
    left: auto;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.9s;
    width: 70%;
  }
  .header ul li a {
    font-size: 3rem;
  }
  .header ul li a::before {
    display: none;
  }
  .header ul li + li {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .header ul li .sub-menu {
    box-shadow: unset;
    visibility: visible;
    opacity: 1;
  }
  .header ul li .sub-menu .h {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .header ul li .sub-menu .row .col-12 + .col-12 {
    margin-top: 3rem;
  }
  .header ul li .sub-menu ul {
    height: unset;
    position: unset;
    transform: unset;
  }
  .header ul li .sub-menu.mega-menu {
    margin: 2rem 0 0;
    left: unset;
    padding: 0;
    position: unset;
    transform: unset;
  }
  .header.is-active ul {
    transform: translateX(0);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .menu-icon {
    display: block;
    position: absolute;
    left: auto;
    right: -2rem;
    transform: scale(0.6);
  }
}
@media (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
  .menu-icon {
    transform: scale(0.5);
  }
}
.footer {
  background-color: #401B00;
}
.footer-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 3.6rem 0;
  position: relative;
  z-index: 1;
}
.footer-top::after {
  position: absolute;
  content: "";
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 10px, rgba(255, 255, 255, 0.1) 12px, transparent 12px, transparent 35px);
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 0;
  z-index: -1;
}
.footer-top ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.footer-top ul li {
  list-style: none;
}
.footer-top ul li a {
  color: #fff;
  font-family: "Changa", system-ui;
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 4.4rem;
  text-decoration: none;
}
.footer-top ul li a:hover {
  color: #F1884D;
}
.footer-main {
  padding: 7rem 5.6rem;
}
.footer-main .title .h {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  line-height: 2.3rem;
  text-transform: uppercase;
}
.footer-main .about .logo {
  margin-bottom: 5rem;
}
.footer-main .about .h {
  font-family: "Changa", system-ui;
  font-size: 6.8rem;
  line-height: 7.5rem;
  font-weight: 500;
}
.footer-main .about .h span {
  color: #fff;
}
.footer-main .newsletter .form {
  position: relative;
}
.footer-main .newsletter .form-control {
  background-color: #321601;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  padding: 2.2rem 2.8rem;
  width: 100%;
}
.footer-main .newsletter .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.footer-main .newsletter .form-control::placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.footer-main .newsletter .form-control:focus, .footer-main .newsletter .form-control:focus-visible {
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
}
.footer-main .newsletter .form button {
  border: none;
  background: none;
  box-shadow: none;
  color: #F1884D;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  position: absolute;
  right: 2rem;
  top: 2.1rem;
}
.footer-main .newsletter .form button:hover span + img {
  transform: rotate(45deg);
}
.footer-main .newsletter .form button span {
  text-transform: uppercase;
  text-decoration: underline;
}
.footer-main .newsletter .form button span + img {
  margin-left: 0.5rem;
  transition: ease-in 0.2s;
}
.footer-main .content {
  margin-top: 9.4rem;
}
.footer-main .content-info {
  padding-left: 10.9rem;
}
.footer-main .content .title {
  margin-bottom: 3rem;
}
.footer-main .content address {
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding: 0;
}
.footer-main .content address a {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0.8rem;
}
.footer-main .content address a:hover {
  text-decoration: underline;
}
.footer-main .content .social-media {
  display: flex;
  justify-content: end;
}
.footer-main .content .social-media a {
  text-decoration: none;
}
.footer-main .content .social-media a:hover span::before {
  color: #F1884D;
}
.footer-main .content .social-media a + a {
  margin-left: 1rem;
}
.footer-bottom {
  position: relative;
  padding: 2.4rem 0;
}
.footer-bottom::after {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  margin: auto;
  left: 0;
  height: 1px;
  right: 0;
  top: 0;
  width: 98%;
}
.footer-bottom p, .footer-bottom a {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}
.footer-bottom .quick-links a {
  text-decoration: none;
}
.footer-bottom .quick-links a .ic {
  transform: scale(0.8);
}
.footer-bottom .quick-links a + a {
  margin-left: 3.6rem;
}
.footer-bottom .quick-links a:hover {
  color: #F1884D;
}
.footer-bottom .quick-links a:hover span + img {
  transform: rotate(45deg) scale(0.8);
}
.footer-bottom .quick-links a span + img {
  transition: ease-in 0.2s;
}

@media (max-width: 1199px) {
  .footer-main .content-info {
    padding: 0;
  }
}
@media (max-width: 991px) {
  .footer-main {
    padding: 3rem 0;
  }
  .footer-main .about .h {
    font-size: 5.8rem;
    line-height: 1.1;
  }
  .footer-main .content-info {
    margin: 3rem 0 0;
    padding: 0;
  }
  .footer-main .content .social-media {
    justify-content: start;
    margin-top: 3rem;
  }
  .footer-main .content {
    margin: 3rem 0 0;
  }
  .footer-bottom .row .col-md-12 + .col-md-12 {
    margin-top: 2rem;
  }
  .footer-top ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-top ul li {
    padding: 2rem 3rem;
  }
}/*# sourceMappingURL=common.css.map */